.radar-chart {
    width: 600px;
    height: 600px;
}
.axis {
    stroke: #ccc;
}
.line {
    fill: none;
    stroke-width: 2px;
}
.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    pointer-events: none;
    visibility: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.selected-country {
    margin-top: 10px;
    font-weight: bold;
}

#selected-countries{

}

.container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    align-items: flex-start;
}
.radar-chart-visualization {
    width: 60%;
    display: flex;
    justify-content: center;
}
.radar-chart-country-list {
    display: flex;
    flex-direction: column;

}
.country-checkbox {
    margin: 5px 0;
}
label {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
}
/*-------------------------------------------For Menu--------------------------------------*/
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}
h1,h2,h3,h4 {
    margin: 10px 0 0 20px;
}
/* Logo Styles */
#logo {
    font-size: xx-large;
    font-weight: bold;
    margin-right: auto; /* Pushes the logo to the right */
}
/* Menu Styles */
.menu {
    display: flex;
    justify-content: flex-end;
    background-color: #49909c;
    padding: 10px;
}
a {
    color: white;
    text-decoration: none;
}
.menu-item {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menu-item:hover {
    background-color: #3e808f;
}
p {
    margin: 20px;
}
/*-------------Smooth Transition-----------*/
body {
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    animation: fadeIn 1s forwards;
}
.menu a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-out {
    animation: fadeOut 1s forwards;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


